.footer {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.footer__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.footer__listItem {
    display: inline;
    padding: 5px;
}