.table {
    border-collapse: collapse;
    padding: 10px;
}

.table--order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table__caption {
    padding: 10px;
    font-weight: bold;
    font-style: italic;
}

.table__cell {
    padding: 5px;
    text-align: center;
    border: 2px solid #d0d0d0;
    max-width: 100%;
}

.table__cell--header {
    background-color: #877154;
}

.table__cell--title {
    background-color: #988265e8;
    text-align: left;
}

.table__row:nth-child(even) {
    background-color: #a0a0a0;
}

.table__row:hover {
    background-color: #905f16;
}